.vs/
.cursor/
_build_/
bin/
tmp/
objects/

Debug/
Release/
x64/
x86/

*.obj
*.pdb
*.ilk
*.user
*.suo
*.log
# Wavefront scene assets used by the ray tracer
!objects/
objects/.vs/
!objects/*.obj
!objects/*.mtl
